.title {
    margin-left: 650px;
    font-size: 50px;
    color: white;
}

body {
    background-color: black;
}

.overview {
    color: white;
}

.overview h1 {
    margin-left: 650px;
    font-size: 50px;
    margin-top: 250px;
}

.overview p {
    margin-left: 10px;
    text-align: center;
}